@import "tailwindcss";

:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	color: #f6f6f6;
	background-color: #2f2f2f;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

.container {
	margin: 0;
	padding-top: 10vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.row {
	display: flex;
	justify-content: center;
}

h1 {
	text-align: center;
}

input,
button {
	color: #ffffff;
	background-color: #0f0f0f98;
	transition: border-color 0.25s;
}

button {
	cursor: pointer;
}

input:hover,
button:hover {
	background-color: #0f0f0f69;
	border-color: #396cd8;
}
input:focus-visible,
button:focus-visible {
	border-color: #a855f7;
}

/* Hide default number input arrows */
/* Chrome, Safari, etc. */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
/* Firefox, etc. */
input {
	appearance: textfield;
	-moz-appearance: textfield;
}